################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/09.Blogs.slnx/FileContentIndex
/.vs/09.Blogs/CopilotIndices/18.7.1244.59975/CodeChunks.db
